page-login {
  .scroll-content{
    background-color: #2C4770;
  }

  .logo{
    margin-top: 25%;
    margin-bottom: 20%;
  }

  .item-inner{
    border: none!important
  }

  .label{
    margin-left: 62px;
  }

  .item{
    padding: 0!important;
  }
}
