<ion-content>
  <div class="space-lg"></div>

  <img class="logo wd-40 centered" src="assets/imgs/logo.svg" alt="">

  <div class="space-md"></div>

  <ion-item class="wd-90 centered input-vp">
    <ion-label>Seat</ion-label>
    <ion-select [(ngModel)]="numberSeat">
      <ng-container *ngFor="let seat of seats">
        <ion-option *ngIf="seat.available" value="{{seat.seatNumber}}">{{seat.seatNumber}}</ion-option>
      </ng-container>
    </ion-select>
  </ion-item>

  <div class="space-sm" *ngIf="numberSeat"></div>

  <input type="text" *ngIf="numberSeat" [(ngModel)]="fanName" placeholder="Your name" class="input-vp centered wd-90" name="" value="">

  <div class="space-md"></div>

  <button type="button" class="button-vp wd-90 centered" (click)="login()" name="button">Login</button>
</ion-content>
