page-home {

  .logo{
    width: 50px;
    margin: auto;
    display: block;
  }

  .number{
    font-size: .7em!important;
    border-radius: 50%;
    color: #fff;
    width: 20px;
    height: 20px;
    padding: 5px;
  }

  .a{
    background-color: #172457;
  }

  .b{
    background-color: #7B84AE;
  }

  .name{
    white-space: nowrap;
    text-align: left!important;
  }

  .col{
    text-align: left!important;
    font-size: .85em;
  }

  .swiper-slide{
    height: 85%;
    margin-top: 10px;
    position: relative;

    .header{
      position: absolute;
      top: 0;
    }

    .infos{
      position: absolute;
      background-color: #FFF;
      width: 100%;
      padding: 20px 0;
    }
  }

  .swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets{
    bottom: 57%;
  }
}
