@font-face {
  font-family: 'CaviarDreams';
  src: url('../assets/fonts/CaviarDreams.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'CaviarDreamsBold';
  src: url('../assets/fonts/CaviarDreams_Bold.ttf')  format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {font-family: 'StarJedi'; src: url('../assets/fonts/Starjedi.ttf')  format('truetype'); font-weight: normal; font-style: normal;}
