@import "theme/input";
@import "theme/common";
@import "theme/width";
@import "theme/fonts";
@import "theme/button";
@import "theme/load";

.scroll-content{
  font-family: 'CaviarDreams'!important;
}

.alert-wrapper{
  border-radius: 0!important;
  font-family: 'CaviarDreams'!important;
  color: #2C4770!important;
}

.loading-wrapper{
  background: none!important;
  box-shadow: none!important;
}
